# OpenET API
OPENET_API_KEY="Gvc0akKiwWdc2oaV8CqnkuxpjJ4LdnogTLJakn7saQjFUh0TgQv5X8kcGWQu"

# Database
DATABASE_URL=postgresql://username:password@localhost:5432/openet_db

# AI Chatbot (choose one)
ANTHROPIC_API_KEY=your_anthropic_api_key_here

ESRI_API_KEY=AAPTaLoaNEEVWtRTn-POur7Zd3Q..2lrZNWYaQUBOTiNI1wFxPuliM9yt0E_1--Ld03TES90bdV-t32psjuwn-7UZ8dY5nsIJFcxv4OTh-Xz4HqAMZTbLyTaqOqPSR0zT8DneI8WP76Pc9CM6XL1NFvv2Uq509u8ZcY5L6k-PBMX0jUdgbXh70sQbXIAg1uYfYywwEdHpm--04tQoUlPqj9nidfOkLurVpQ2ZlaBJAABkNAckkl7nhzWw3o2hJyJfnKarNvr4SRIrniELyA..AT1_XX5E7r07

# FastAPI
SECRET_KEY=your_secret_key_here
DEBUG=True

# Frontend
REACT_APP_API_BASE_URL=http://localhost:8000
